:root {
  --main-color: #F1CDB3;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
  
html, body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  /* padding-top: 120px; */
}
h3 {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
h4 {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
}
h5 {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06rem;
}
b {
  font-weight:bold;
}
button, button:active, button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}
span {
  display: block;
}
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 60px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  margin: 0 auto;
  height: 60px;
}
a {
  text-decoration: none;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 60px;
}
.logo-title {
  color: var(--main-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.11rem;
  line-height: 35px;
}
.logo-subtitle {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.09rem;
  line-height: 35px;
}
.nav__btn {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  width: 443px;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-item {
  display: flex;
  /* align-items: center; */
  color: #fafafa;
}
.item_link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  outline: none;
}
.item_link_disabled {
  color: #CDCDCD;
}
.item_link_active {
  color: #fafafa;
  border-bottom: var(--main-color) solid 3px;
}
.item_link:hover {
  color: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 180px;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; 
}
.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
  /* overflow: hidden; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}
.hero-title {
  width: 310px;
  height: 114px;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  line-height: 130%;
}
.hero-subtitle {
  width: 460px;
  height: 72px;
  color:#CDCDCD;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  margin: 42px 0;
}
.hero__button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: 0;
  padding: 15px 45px;
  background-color: var(--main-color);
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
}
.hero__button:hover {
  background-color:#FDDCC4;
}
button:hover {
  cursor: pointer;
}
.hero-img {
  display: flex;
}

.about {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about__wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  margin: auto;
  padding: 0 55px;
}
.about__img {
  display: flex;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 430px;
  /* height: 380px; */
  padding: 14px 0;
}
.about__title {
  width: 310px;
}
.about__text {
  color: #4C4C4C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  /* margin: 42px 0; */
}

.friends {
  display: flex;
  width: 100%;
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75rem;
  margin: auto;
}
.friends__title {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.slider__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.cards__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  justify-content: space-between;
  margin: 0 auto;
  /* padding-top: 15px; */
}
.pet__slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-align: center;
}
.pet__slider__arrow:hover {
  background-color: #FDDCC4;
  border: none;
}
.arrow__right {
  transform: rotate(180deg);
}
.pet__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  margin: 0 36px;
  /* padding-bottom: 10px; */
}
.pet__card:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet__picture {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  /* text-align: center; */
}
.pet__card__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
  color: #545454;
  text-align: center;
}
.pet__card__button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: auto;
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 0.06em;
  margin: 30px auto;
}
.pet__card__button:hover {
  background-color: #FDDCC4;
  border: none;
}
.friends__button {
  width: 261px;
  height: 52px;
  border-radius: 100px;
  border: 0;
  padding: auto;
  background-color: var(--main-color);
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
}
.friends__button:hover {
  background-color:  #FDDCC4;
}
.help {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 71px;
}
.help__wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 1200px;
  margin: auto;
}
.help__title {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.icons__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}
.icons__item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  margin: 28px 60px;
  text-align: center;
}
.icons__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.donation {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.donation__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1200px; */
  max-width: 75rem;
}  
.donation__img {
  /* display: flex; */
  margin: 0 15px;
  padding-top: 1px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  min-height: 282px;
  margin: 1px 15px;
}
.donation__title {
  width: 310px;
}
/* .donation__subtitle {
  color: #4C4C4C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%; 
   margin: 42px 0; 
}*/
.donation__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  height: 43px;
  background-color: var(--main-color);
  border-radius: 9px;
  /* margin: 14px 0; */
}
.donation_card_icon{
  width: 30px;
  
}
.donation__card__link { 
  text-decoration: none; 
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06rem;
  /* margin-left: 15px; */
}
.donation__info {
  color:#B2B2B2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}
.donation__card:hover {
  background-color:#FDDCC4;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;
  
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  /* margin: auto; */
  /* padding-top: 16px; */
}
.footer_content {
  display: flex;
  justify-content: space-between;
  width: 740px;
  padding-top: 20px;
  /* margin: auto; */
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 234px;
  /* padding: 14px 0; */
}
.footer__title{
  color: #ffffff;
}
.footer__icon {
  height: 32px;
  margin-right: 20px;
}
.footer__email, .footer__phone, .footer__address {
  /* max-height: 32px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__link{
  text-decoration: none; 
  color: var(--main-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  /* line-height: 115%; */
  letter-spacing: 0.08rem;
}
.footer__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  width: 302px;
}
.footer__img {
  display: block;
  /* position: relative; */
}
.popup {
  display: none;
  line-height: 1;
  font-size: 14px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 900px;
  height: 500px;
  justify-content: space-between;
  position: fixed;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #FAFAFA;
  border-radius: 9px;
  z-index: 100;
}
.shadow {  
  display: none;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.shadow:hover {  
  cursor: pointer;
}
.popup__close {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  left: 890px;
  padding: 18px;
  cursor: pointer;
  user-select: none;
 
}
.popup__close:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.popup__container {
  height: 500px;
  width: 500px;
  border-bottom-left-radius: 9px;
  overflow: hidden;
  border-top-left-radius: 9px;
}
.popup__img {
  max-width: 100%;
  height: 100%;
}
.popup__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  padding: 51px 0 89px;
}
.popup__head {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__sub {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
  width: 350px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  padding: 0;
}
.popup__info {
height: 100px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.popup__item {
color: #F1CDB3;
list-style: inside;
display: list-item;
text-align: -webkit-match-parent;
list-style-position: inside;
text-indent: -1em;
padding-left: 1em;
}
.popup__item > span {
  display: inline;
  font-family: Georgia;
  /* font-style: normal;*/ 
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  word-spacing: 0px;
  margin-left: -5px;
  color: #000000;
} 


@media screen and (min-width: 768px) and (max-width: 1279px) {
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 30px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 48rem;
  padding: 0 30px;
  margin: 0 auto;
  height: 60px;
}
/* .menu{
  transition-duration: 1s;
  z-index: 1;
  position: absolute;
  right: -320px;
  top: 0px;
  width: 320px;
  height: 100%;
  background: #292929;
  display: flex;
  /* margin: 0px 00px 0px 0px;
  align-items: center; 
} */
.hero {
  display: flex;
  width: 100%;
  /* height: auto; */
  padding-top: 150px;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; 
}
.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 92%;
  margin: auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
.hero__button {
  width: 207px;
  height: 52px;
  align-self: center;
  border-radius: 100px;
  border: 0;
  padding: 15px 45px;
  background-color: var(--main-color);
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
}
.hero-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__img__content {
  width: 569px;
  /* width: 75vw; */
}
.about {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about__wrapper{
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
  align-items: center;
  max-width: 92%;
  margin: auto;
  padding: 0 55px;
}
.about__img {
  display: flex;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
  padding: 0;
  margin-bottom: 80px; 
}
.friends {
  display: flex;
  width: 100%;
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 92%;
  margin: auto;
  /* padding: 40px 0; */
}
.pet__card {
  margin: 0 20px; 
  order: 2; 
}
.pet__tablet {
  display: none;
}
.pet__slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-align: center;
}
.pet__slider__arrow:hover {
  background-color: #FDDCC4;
  border: none;
}
.arrow__right {
  transform: rotate(180deg);
  margin: 0px 0px 0px -8px;
  /* order: 3;  */
}
.arrow__left{
  margin: 0px -8px 0px 0px;
  /* order: 1;  */
}
.help {
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 73px;
}
.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 92%;
  margin: auto;
}
.icons__wrapper {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-top: 32px; */
}
.icons__item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 170px; */
  height: 113px;
  /* margin: 27.5px 30px; */
  margin: 27.5px 0;
  width: 28%;
  /* height: 140.5px; */
  text-align: center;
}
.donation {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 38px;
}
.donation__wrapper{
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
  align-items: center;
  max-width: 92%;
}  
.donation__img {
  margin: 58px 15px;
  padding-top: 1px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  min-height: 282px;
  margin: 1px 15px;
}
.donation__card:hover {
  background-color:#FDDCC4;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 11px;
}
.footer__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 92%;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 20px 34px 0 34px;
  margin-bottom: 60px;
  
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 234px;
}
.footer__img__container {
  display: flex;
  margin-top: 2px;
  padding-top: 2px;
  /* position: relative; */
}
.popup {
  width: 630px;
  height: 350px;
}
.popup__close {
  left: 616px;
}
.popup__container {
  height: 350px;
  width: 350px;
}
.popup__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 350px;
  padding: 10px 0 37px; 
  margin-right: 9px;
  
}
.popup__head {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__sub {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14.3px;
  letter-spacing: 0.06em;
  color: #000000;
  width: 260px;
  height: 98px;
}
ul {
display: block;
list-style-type: disc;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
padding-inline-start: 0;
}

.popup__info {
height: 87px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.popup__item {
color: #F1CDB3;
list-style: inside;
display: list-item;
text-align: -webkit-match-parent;
list-style-position: inside;
text-indent: -1em;
padding-left: 1em;
}
.popup__item > span {
display: inline;
font-family: Georgia;
font-style: normal; 
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
word-spacing: -4px;
margin-left: -5px;
color: #000000;
}
}

@media screen and (min-width: 0) and (max-width: 767px) {
  span {
    display: inline;
  }
 .header {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   position: absolute;
   padding-right: 50px;
   padding-left: 3%;
   top: 30px;
 }
 .header_container {
  width: 100%; 
 }
.header_container__mobile {
  background: #878787;
  z-index: 10;
}
.nav__btn {
  display: block;
  transition-duration: 1s;
  z-index: 10;
  width: 30px;
  height: 22px;
  /* margin: 4px 43px 0px 0px; */
  background-image: url(../../assets/icons/Burger2.png);
}
.nav__btn:hover {
  cursor: pointer;
}
.nav__btn__active {
  position: absolute;
  transform: rotate(90deg);
  transition-duration: 1s;
  right: 50px;
  top: 22px;
  z-index: 11;
}
.logo:hover {
  cursor: pointer;
}
.logo__mobile__active {
  position: fixed;
  right: 121px;
  top: 26px;
  transition: right 1s;
  transition-duration: 1s;
  z-index: 11;
}
.shadow {  
  display: none;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.menu{
  /* transition-duration: 1s;
  z-index: 1;
  position: absolute;
  right: -320px;
  top: 0px;
  width: 320px;
  height: 100%;
  background: #292929; */
  display: none;
  /* margin: 0px 00px 0px 0px;
  align-items: center; */
}
ul {
  /* display: block; */
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.menu-list {
  display: none;
}
.menu-list_active {
  display: flex;
  color: #CDCDCD;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0px;
  height: 823px;
  background: #292929;
  justify-content: space-between;
  flex-direction: column;
  width: 320px;
  align-items: center;
  padding: 250px 0 247px;
  transition: right 1s;
  overflow: hidden;
}
.menu-list > li {
  margin-top: 32px;
}

.item_link {
  font-size: 32px;
  color: #CDCDCD;
}
.item_link_active {
  color: #FAFAFA;
}
.hero {
  display: flex;
  width: 100%;
  padding-top: 150px;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; 
}
.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 93.75%;
  margin: auto;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 105px; */
  padding-bottom: 106px;
}
.hero-title {
  width: 80%;
  height: auto;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-subtitle {
  width: 100%;
  height: auto;
  color:#CDCDCD;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  margin: 42px 0;
  text-align: center;
}
.hero-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__img__content {
  width: 260px;
}
.about {
  display: flex;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 0;
}
.about__wrapper{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 93.75%;
  margin: auto;
  padding: 0 15px;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 20px; 
  text-align: center;
}
.about__title {
  width: 100%;
  font-size: 25px;
  letter-spacing: 0.06em;
  padding-bottom: 25px;
}
.about__text {
  width: 100%;
  color: #4C4C4C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  text-align: justify;
  padding-bottom: 22px;
  /* margin: 42px 0; */
}
.about__img {
  display: flex;
  width: 260px;
  padding-bottom: 42px;
}
.friends {
  display: flex;
  width: 100%;
  background: #F6F6F6;
  padding-top: 42px;
  padding-bottom: 42px;
}
.friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93.75%;
  margin: auto;
}
.pet__card {
  margin: 0 auto; 
  order: 1; 
}
.friends__title {
  font-size: 25px;
  text-align: center;
  width: 97%;
}
.slider__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 42px 0 21px 0;
}
/* .pet__tablet, .pet__mobile{
  display: none;
} */
.pet__slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  text-align: center;
}
.arrow__right {
  transform: rotate(180deg);
  margin: 20px 58px 20px 40px;
  order: 3; 
}
.arrow__left{
  margin: 20px 40px 20px 58px;
  order: 2;
}
.help {
  display: flex;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 0;
}
.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 93.75%;
  margin: 0 auto;
}
.help__title {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 0 15px;
  width: 85%;
}
.icons__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.7rem;
  padding-bottom: 27px;
}
.icons__item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  width: 47%;
  height: 87px;
  text-align: center;
}
.icons__item__img {
  width: 50px;
  height: 50px;
}
.icons__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.donation {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F6F6F6;
  padding-top: 42px;
  padding-bottom: 40px;
}
.donation__wrapper{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 93.75%;
}  
.donation__img {
  width: 260px;    
  padding-top: 22px;
  /* margin: 58px 15px;
  padding-top: 1px; */
}
.donation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  align-items: center;
  min-height: auto;
}
.donation__title {
  width: 80%;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}
.donation__subtitle {
  width: 300px;
  color: #4C4C4C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%; 
  letter-spacing: 0rem;
  margin: 20px 0; 
  text-align: center;
}
.donation__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  background-color: var(--main-color);
  border-radius: 9px;
}
.donation_card_icon{
  width: 30px;
}
.donation__card__link { 
  text-decoration: none; 
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06rem;
}
.donation__card:hover {
  background-color:#FDDCC4;
}
.donation__info {
  color:#B2B2B2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  text-align: justify;
  width: 100%;
  margin: 20px 0; 
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 1.875rem;
}
.footer__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.footer_content {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 0 auto;
  width: 93%;
  padding-top: 0;
}
.footer__contact, .footer__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.footer__title{
  color: #ffffff;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 40px;
  width: 90%;
  }
.footer__icon {
  height: 32px;
  margin-right: 20px;
}
.footer__email, .footer__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
  width: 100%;
}
.footer__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 37px;
  width: 100%;
}
.footer__link{
  text-decoration: none; 
  color: var(--main-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  /* line-height: 115%; */
  letter-spacing: 0.08rem;
  text-align: left;
}
.footer__img__container {
  display: flex;
  width: 100%;
}
.footer__img {
  /* display: block; */
  width: 260px;
  margin: 0 auto;
}
.popup {
  width: 248px;
  height: 345px;
}
.popup__close {
  left: 237px;
}
.popup__container {
  display: none;
}
.popup__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 232px;
  height: 335px;
  padding: 0; 
  margin: auto;
}
.popup__head {
  width: 100%;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.popup__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__sub {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
.popup__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14.3px;
  letter-spacing: 0.06em;
  color: #000000;
  width: 220px;
  text-align: justify;
  margin: 0 auto;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.popup__info {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 9px;
}
.popup__item {
  color: #F1CDB3;
  list-style: inside;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
.popup__item > span {
  display: inline;
  font-family: Georgia;
  font-style: normal; 
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.06em;
  word-spacing: 0;
  margin-left: -5px;
  color: #000000;
}

}

